<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
</head>
<body>

<h2> Hello from index </h2>

<h4>🍪 {{.}}</h4>

{{range .}}
    <h6> {{.}} </h6>
{{end}}

<form method="POST" enctype="multipart/form-data">
	<input type="file" name="f">
	<input type="submit">
</form>

<h4> Uploaded pictures </h4>
{{range .}}
    <img src="/public/pictures/{{.}}" width="350px"}>
{{end}}

</body>
</html>
