<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Puppy picture</title>
</head>
    <body>
        <h1>This is from dog</h1>
        <img src="../pictures/puppy.jpg" alt="a picture of a dog">
    </body>
</html>
